* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Lato', sans-serif;
 
}

body {
    font-size: 10px;
  background: #ececec;
  color: #111;
}

/* Header */
.top-bar {
  background: #1c1c1c;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

/* Profile */
.profile {
  background: #1c1c1c;
  text-align: center;
  padding: 15px 16px;
  color: white;
}

.logo {
  width: 80px;
  height: 80px;
  margin: auto;
  background: #0a1c63;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.logo span {
  color: gold;
}

.profile a {
  color: #4ea3ff;
  text-decoration: none;
  font-size: 10px;
}

/* Summary */
.summary {
  margin-top: -20px;
  padding: 0 16px;
}

.date {
  background: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-weight: 500;
}

.summary-card {
  background: #f2f2f2;
  padding: 16px;
  border-radius: 0 0 10px 10px;
}

.summary-card div {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}

.negative {
  color: #d60000;
}

/* Grid */
.grid {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.card {
  background: white;
  padding: 20px 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);
  cursor: pointer;
}

.card i {
  display: block;
  font-size: 10px;
  margin-bottom: 8px;
}

/* Desktop */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}



/* =========================
   LOGIN PAGE STYLES
   ========================= */

.login-body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #111, #000);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100%;
  max-width: 420px;
  padding: 3rem 2rem 4rem;
}

/* Logo */
.login-logo {
  text-align: center;
  margin-bottom: 25px;
}

.login-logo img {
  max-width: 100px;
}

/* Form */
.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

.form-group input {
  width: 100%;
  height: 40px;
    border-radius: 8px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 10px;
  font-weight: 400;
  background: #ffffff;


}

/* Password eye icon */
.password-group {
  position: relative;
}

.password-group i {
  position: absolute;
  right: 15px;
  top: 55%;
  transform: translateY(10%);
  font-size: 15px;
  color: #666;
  cursor: pointer;
}

/* Login button */
.login-btn {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  border-radius: 8px;
  border: none;
  background: #ffc72c;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.login-btn:active {
  transform: scale(0.98);
}

/* Desktop center */
@media (min-width: 768px) {
  .login-container {
    margin-top: -4rem;
  }
}




/* Header */
.header {
  background: #1e1e1e;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}

.header i {
  font-size: 26px;
}

/* Search */
.search-box {
  margin: 12px;
  background: #2b2b2b;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  font-size: 10px;
  color: #aaa;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 8px;
  width: 100%;
}

/* Client Card */
.client-card {
  background: white;
  margin: 12px;
  padding: 12px;
  border-radius: 8px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding-bottom:8px;
  border-bottom: 1px solid #ededed;
}

.status {
  color: green;
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Rows */
.row {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  color: #1e1e1e;
}

.row .right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.loss {
  color: red;
}

/* Actions */
.actions {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.actions button {
  flex: 1;
  padding: 10px 0;
  background: #111;
  color: white;
  border: none;
  font-size: 12px;
  border-radius: 8px;
}

.actions button.disabled {
  background: #9a9a9a;
}
