a {
  cursor: pointer;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  background: #283144 !important;
}
div:where(.swal2-container) h2:where(.swal2-title) {
  color: white !important;
}
div:where(.swal2-container) .swal2-html-container {
  color: white !important;
}
.user-lock-book {
  border: 1px solid white;
  padding: 3px 2px;
  border-radius: 3px;
}

.BACK {
  background-color: #a7d0eb;
}
.LAY {
  background-color: #f4bacf;
}

/* Loader start*/

.animate-spin {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Loader end*/

.pl-withdraw {
  color: #faffaf !important;
}
.pl-deposit {
  color: #a8faff !important;
}
.text-green {
  color: green !important;
}
.text-red {
  color: red !important;
}

.bonus-table th,
.bonus-table td {
  text-align: center;
}

/*! Pagination */
.rs-pagination-btn {
  padding: 2px 8px !important;
  min-width: 10px !important;
  border-radius: 4px !important;
  color: gainsboro !important;
}

.rs-pagination-btn:hover {
  color: #283144 !important;
}

.rs-pagination-btn-active {
  padding: 0px 7px !important;
  min-width: 10px !important;
  border-radius: 4px !important;
}
.rs-pagination-btn-active:hover {
  color: gainsboro !important;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@media (max-width: 512px) {
  /* Mobile styles */
  .responsive-button {
    margin-top: 5px;
    margin-left: 0;
  }
}

@media (min-width: 513px) {
  /* Desktop styles */
  .responsive-button {
    margin-left: 5px;
    margin-top: 0;
  }
}

.rs-picker-popup {
  z-index: 99999999999 !important;
}
input,
select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #f0f0f0;
  outline: none;
  font-size: 10px;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.rs-pagination-btn {
  color: black !important;
}
.APPROVED {
  color: #39da8a !important;
}

.PENDING {
  color: #fdac41 !important;
}
.REJECTED {
  color: #ff5b5c !important;
}

.level-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.level-table thead,
.level-table tbody,
.level-table tfoot,
.level-table tr,
.level-table td,
.level-table th {
  border-width: 1px;
  border-color: #36445d;
  padding: 10px;
}
